<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t '.sign_up' %></h4>
    </div>
    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: user_registration_path, html: { class: 'are-you-sure no-submit-on-enter' }) do |f| %>
        <div class="alert alert-info">
          <%= t 'wca.devise.welcome_html' %>
        </div>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true %>
        <%= f.input :password_confirmation, required: true %>

        <%# Copied from app/views/users/edit.html.erb %>
        <%= f.input :name %>
        <%= f.input :dob, as: :date_picker %>
        <%= f.input :gender %>
        <%= f.input :country_iso2, collection: Country.all_sorted_by(I18n.locale, real: true), value_method: lambda { |c| c.iso2 }, label_method: lambda { |c| c.name } %>
        
        <%# Checkbox to agree to terms & conditions %>
        <%= check_box_tag "terms_of_service", "1", false %>
        <%= label_tag "terms_of_service", t('.agree_to_terms_of_service') %>
        <%= link_to t('.terms_of_service'), users_path, target: "_blank" %>
        <%= recaptcha_tags %>
        <br>
        <%= f.submit t('.sign_up'), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
